<h1>より良き人生を送るためにお金について学ぼう</h1>
<p>このサイトでお金に関する５つの力をチェックしよう！</p>

<body>
  <input type="button" id="save" value="貯める力">
  <div class="save">
    <ul>
      <li>
        <span class="box">スマホの通信費を見直そう<input type="button" id="save1" value="詳細"></span>
      </li>
      <div class="save1">
        <a href="https://youtu.be/ZSHSTj6DvXI" target="_blank">🎥【最強コンビ？】楽天モバイル＋mineoでコスパ最強を実現する方法</a>
      </div>
      <li>
        <span class="box">サラリーマンにもできる本当に効果がある節税を知ろう
        <input type="button" id="save2" value="詳細"></span>
      </li>
      <div class="save2">
        <a href="https://youtu.be/dOiFlRehg5E" target="_blank">🎥サラリーマンにもできる！本当に効果がある節税ベスト６</a>
      </div>
      <li>
        <span class="box">賃貸vs持ち家を理解しよう
        <input type="button" id="save3" value="詳細"></span>
      </li>
      <div class="save3">
        <a href="https://youtu.be/iim8YocZhMo" target="_blank">🎥賃貸と持ち家(マイホーム)どっちがお得？</a>
      </div>
    </ul>
  </div>

  <input type="button" id="earn" value="稼ぐ力">
  <div class="earn">
    <ul>
      <li>
        <span class="box">転職エージェントについて学ぼう
        <input type="button" id="earn1" value="詳細"></span>
      </li>
      <div class="earn1">
        <a href="https://youtu.be/cTWARMPElak" target="_blank">🎥【年収アップしたい人必見】転職サイトではなく転職エージェントを使うべき理由</a>
      </div>
      <li>
        <span class="box">会社にバレずに副業を始める方法を理解しよう
        <input type="button" id="earn2" value="詳細"></span>
      </li>
      <div class="earn2">
        <a href="https://youtu.be/SchAuHzpPDY" target="_blank">🎥【鉄壁】副業バレにビビるな！これなら安心３つの対策</a>
      </div>
      <li>
        <span class="box">月5万円の事業所得を手に入れよう
        <input type="button" id="earn3" value="詳細"></span>
      </li>
      <div class="earn3">
        <a href="https://youtu.be/bAwoXkzvwdU" target="_blank">🎥【攻略法を伝授】副業で月5万円稼ぐための9つのポイント</a>
      </div>
    </ul>
  </div>

    <input type="button" id="increase" value="増やす力">
  <div class="increase">
    <ul>
      <li>
        <span class="box">投資におけるリスクとリターンを理解しよう
        <input type="button" id="increase1" value="詳細"></span>
      </li>
      <div class="increase1">
        <a href="https://youtu.be/OOrFT6rJVY4" target="_blank">🎥必ず知っておくべきリスクとリターンの考え方</a>
      </div>
      <li>
        <span class="box">自分のタイプに合わせた投資の動画を視聴しよう
        <input type="button" id="increase2" value="詳細"></span>
      </li>
      <div class="increase2">
        <a href="https://youtu.be/hEEPiTaM0aE" target="_blank">🎥資産運用って結局どうすれば良いの？に対する具体的回答【超シンプルプラン】</a>
      </div>
      <li>
        <span class="box">インデックス投資を実践しよう
        <input type="button" id="increase3" value="詳細"></span>
      </li>
      <div class="increase3">
        <a href="https://youtu.be/_XcgyGJP_pA" target="_blank">🎥初心者にオススメの投資の最適解を解説</a>
      </div>
    </ul>
  </div>
    <input type="button" id="protect" value="守る力">
  <div class="protect">
    <ul>
      <li>
        <span class="box">ぼったくり投資信託の仕組みを知ろう
        <input type="button" id="protect1" value="詳細"></span>
      </li>
      <div class="protect1">
        <a href="https://youtu.be/Z2xskiiuyAA" target="_blank">🎥【初心者向け】ぼったくり投資信託を掴まされない3つのポイント</a>
      </div>
      <li>
        <span class="box">宝くじの仕組みを知ろう
        <input type="button" id="protect2" value="詳細"></span>
      </li>
      <div class="protect2">
        <a href="https://youtu.be/TinAojki5zs" target="_blank">🎥宝くじは愚か者に課せられた税金</a>
      </div>
      <li>
        <span class="box">ポンジスキームの仕組みを理解しよう
        <input type="button" id="protect3" value="詳細"></span>
      </li>
      <div class="protect3">
        <a href="https://youtu.be/NnO6_11Hlho" target="_blank">🎥初心者が投資で勝つ方法 詐欺(ポンジスキーム)にあわない事</a>
      </div>
    </ul>
  </div>

    <input type="button" id="use" value="使う力">
  <div class="use">
    <ul>
      <li>
        <span class="box">良いお金の使い方と悪いお金の使い方の違いを知ろう
        <input type="button" id="use1" value="詳細"></span>
      </li>
      <div class="use1">
        <a href="https://youtu.be/CrLqO6oYNFQ" target="_blank">🎥【お金と幸せを引き寄せる】良いお金の使い方と悪いお金の使い方の違い</a>
      </div>
      <li>
        <span class="box">日本人の預貯金の現実を知ろう
        <input type="button" id="use2" value="詳細"></span>
      </li>
      <div class="use2">
        <a href="https://youtu.be/BcOZomprWqI" target="_blank">🎥【お金を牢屋へ】日本人の預金1,000兆円が残念すぎる3つの理由</a>
      </div>
      <li>
        <span class="box">お金を使うことで手に入る特典を知ろう
        <input type="button" id="use3" value="詳細"></span>
      </li>
      <div class="use3">
        <a href="https://youtu.be/ee4yuSSYljs" target="_blank">🎥【やっぱりお金は最強？】お金を使うことで得られる9つの特典について解説</a>
      </div>
    </ul>
  </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script>
    $( '#save').click(function() {
      $('.save').slideToggle();
    });
    $( '#save1').click(function() {
      $('.save1').slideToggle();
    });
    $( '#save2').click(function() {
      $('.save2').slideToggle();
    });
        $( '#save3').click(function() {
      $('.save3').slideToggle();
    });

        $( '#earn').click(function() {
      $('.earn').slideToggle();
    });
    $( '#earn1').click(function() {
      $('.earn1').slideToggle();
    });
    $( '#earn2').click(function() {
      $('.earn2').slideToggle();
    });
        $( '#earn3').click(function() {
      $('.earn3').slideToggle();
    });

        $( '#increase').click(function() {
      $('.increase').slideToggle();
    });
    $( '#increase1').click(function() {
      $('.increase1').slideToggle();
    });
    $( '#increase2').click(function() {
      $('.increase2').slideToggle();
    });
        $( '#increase3').click(function() {
      $('.increase3').slideToggle();
    });

        $( '#protect').click(function() {
      $('.protect').slideToggle();
    });
    $( '#protect1').click(function() {
      $('.protect1').slideToggle();
    });
    $( '#protect2').click(function() {
      $('.protect2').slideToggle();
    });
        $( '#protect3').click(function() {
      $('.protect3').slideToggle();
    });

        $( '#use').click(function() {
      $('.use').slideToggle();
    });
    $( '#use1').click(function() {
      $('.use1').slideToggle();
    });
    $( '#use2').click(function() {
      $('.use2').slideToggle();
    });
        $( '#use3').click(function() {
      $('.use3').slideToggle();
    });

  </script>
</body>